# Ignora archivos de configuración locales
.env
*.iml
.idea/
*.log

# Ignora dependencias locales y artefactos de build previos
Springboot-API-REST-DESPACHO/target/
**/target/
.mvn/
.settings/

# Ignora control de versiones y sistema de build
.git/
.gitignore
.gitattributes
.DS_Store
docker-compose.override.yml
Dockerfile*

# Ignora archivos temporales
*.swp
*~
